<mat-card>
  <form [formGroup]="form">
    <mat-toolbar color="primary">Adicionar empresa</mat-toolbar>
    <div class="carteira-form-container">
      <mat-form-field appearance="fill">
        <mat-label>Nome da Empresa</mat-label>
        <input matInput #input maxlength="10" placeholder="Ex. Banco do Brasil" formControlName="nome">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Selecione</mat-label>
        <div formGroupName="setor">
          <mat-select formControlName="id">
            <mat-option *ngFor="let setor of setores" [value]="setor.id">
              {{ setor.nome }}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CNPJ</mat-label>
        <input matInput #input maxlength="17" placeholder="Ex. 00000000000000" formControlName="cnpj">
      </mat-form-field>

    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
  </form>
</mat-card>