<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
      
    </button>
    <span>Carteira</span>
    <span class="example-spacer"></span>  
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEmpresa()">
        <mat-icon>account_circle</mat-icon>
        <span>Empresa</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  